@import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 600, 700);

.center-text {
  text-align: center;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
